html
	head
		title My Website
		link(href='/css/default.css', media='all', rel='stylesheet', type='text/css')
		script(type='text/javascript', src='/frex')
		script(type='text/javascript', src='/js/index.js')

	body
		h1 Frex.js
