html
	head
		title My Website
		link(href='/css/default.css', media='all', rel='stylesheet', type='text/css')
		script(type='text/javascript', src='/frex')
		script(type='text/javascript', src='/js/index.js')

	body
		h1 Frex.js

		div#secret_block

		div#default_layout(style='display: none;')
			button#login_button Login

		div#logined_layout(style='display: none;')
			button#logout_button Logout
